smxknife/smxknife-spring/smxknife-spring-schema/src/main/resources/META-INF/smxknife.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.smxknife.com/schema/smxknife"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:beans="http://www.springframework.org/schema/beans"
			targetNamespace="http://www.smxknife.com/schema/smxknife">

	<xsd:import namespace="http://www.springframework.org/schema/beans"/>

	<xsd:element name="application">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:attribute name="name" type="xsd:string" use="required">
						<xsd:annotation>
							<xsd:documentation>名称</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>

					<xsd:attribute name="version" type="xsd:string" use="required">
						<xsd:annotation>
							<xsd:documentation>版本</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>

					<xsd:attribute name="description" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>描述</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>

				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="service">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:attribute name="name" type="xsd:string" use="required"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>


</xsd:schema>